# Measures for Justice data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
sb.set()
%matplotlib inline

### Exploratory analysis

In [2]:
data = pd.read_csv('data-pa.csv')

/home/caro/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,measure_id,filter_id,start_year,end_year,location_id,numerator,denominator,value,missing,missing_percentage,status,count,sum,sum_squares,minimum,maximum,standard_deviation,average
0,7,1,2009,2013,PA,98382.0,134310.0,73.2499,8035.0,5.6447,HIGH_MISSING_UNFILT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7,1,2009,2013,PA001,741.0,1051.0,70.5043,19.0,1.7757,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,1,2009,2013,PA003,6643.0,10520.0,63.1464,645.0,5.7770,HIGH_MISSING_UNFILT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,1,2009,2013,PA005,356.0,475.0,74.9474,150.0,24.0000,EXCEEDS_MISSING_UNFILT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,1,2009,2013,PA007,1452.0,1784.0,81.3901,63.0,3.4109,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(200736, 18)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200736 entries, 0 to 200735
Data columns (total 18 columns):
measure_id            200736 non-null int64
filter_id             200736 non-null int64
start_year            200736 non-null int64
end_year              200736 non-null int64
location_id           200736 non-null object
numerator             105196 non-null float64
denominator           105196 non-null float64
value                 98762 non-null object
missing               142868 non-null float64
missing_percentage    96284 non-null float64
status                200736 non-null object
count                 37672 non-null float64
sum                   37672 non-null float64
sum_squares           37672 non-null float64
minimum               37672 non-null float64
maximum               37672 non-null float64
standard_deviation    25940 non-null float64
average               25940 non-null float64
dtypes: float64(11), int64(4), object(3)
memory usage: 27.6+ MB

In [7]:
measures = pd.read_csv('measures.csv')

In [10]:
measures.head()

,id,name,format,calculation
0,1,Non-Custodial Promise to Appear Instead of Cus...,percentage,PERCENTAGE
1,2,Cases Not Prosecuted,percentage,PERCENTAGE
2,6,Time to Initial Appearance,median,MEDIAN
3,7,Nonviolent Misdemeanor Cases with Nonmonetary ...,percentage,PERCENTAGE
4,8,Failure to Pay Low Monetary Bail,percentage,PERCENTAGE

In [11]:
locations = pd.read_csv('locations-pa.csv')

In [12]:
locations.head()

      id    type          name
0     PA   state  Pennsylvania
1  PA001  county         Adams
2  PA003  county     Allegheny
3  PA005  county     Armstrong
4  PA007  county        Beaver

In [13]:
filters = pd.read_csv('filters.csv')

In [14]:
filters.head()

   id                            description
0   1                         all defendants
1  10                       white defendants
2  11            African American defendants
3  12           Hispanic / Latino defendants
4  13  Native American or Alaskan defendants

In [24]:
data[(data['measure_id'] == 8) & (data['location_id'] == 'PA001') & (data['denominator'] > 4)].sort_values('denominator')

,measure_id,filter_id,start_year,end_year,location_id,numerator,denominator,value,missing,missing_percentage,status,count,sum,sum_squares,minimum,maximum,standard_deviation,average
9521,8,81802,2009,2013,PA001,0.0,6.0,0,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5645,8,22,2009,2013,PA001,0.0,7.0,0,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9317,8,55,2009,2013,PA001,1.0,10.0,10,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9453,8,81801,2009,2013,PA001,4.0,11.0,36.3636,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5441,8,32,2009,2013,PA001,2.0,11.0,18.1818,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9657,8,81804,2009,2013,PA001,1.0,12.0,8.3333,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6597,8,81201,2009,2013,PA001,5.0,14.0,35.7143,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6733,8,81203,2009,2013,PA001,5.0,19.0,26.3158,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8637,8,8103,2009,2013,PA001,4.0,26.0,15.3846,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4965,8,16,2009,2013,PA001,0.0,27.0,0,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9589,8,81803,2009,2013,PA001,2.0,39.0,5.1282,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6937,8,81206,2009,2013,PA001,0.0,44.0,0,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8841,8,8106,2009,2013,PA001,0.0,53.0,0,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8569,8,8102,2009,2013,PA001,5.0,58.0,8.6207,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8773,8,8105,2009,2013,PA001,6.0,59.0,10.1695,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5985,8,44,2009,2013,PA001,4.0,60.0,6.6667,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6665,8,81202,2009,2013,PA001,4.0,65.0,6.1538,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9181,8,53,2009,2013,PA001,2.0,66.0,3.0303,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6257,8,8201,2009,2013,PA001,9.0,66.0,13.6364,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5577,8,21,2009,2013,PA001,5.0,67.0,7.4627,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7073,8,81208,2009,2013,PA001,3.0,88.0,3.4091,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,8,81204,2009,2013,PA001,10.0,89.0,11.236,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10133,8,81811,2009,2013,PA001,0.0,90.0,0,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5033,8,11,2009,2013,PA001,4.0,91.0,4.3956,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4897,8,15,2009,2013,PA001,4.0,94.0,4.2553,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,8,8203,2009,2013,PA001,3.0,112.0,2.6786,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6869,8,81205,2009,2013,PA001,20.0,120.0,16.6667,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5917,8,43,2009,2013,PA001,9.0,120.0,7.5,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8705,8,8104,2009,2013,PA001,7.0,136.0,5.1471,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7141,8,81209,2009,2013,PA001,2.0,137.0,1.4599,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9045,8,51,2009,2013,PA001,10.0,160.0,6.25,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5305,8,30,2009,2013,PA001,10.0,160.0,6.25,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7005,8,81207,2009,2013,PA001,6.0,170.0,3.5294,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8433,8,8100,2009,2013,PA001,12.0,178.0,6.7416,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8501,8,8101,2009,2013,PA001,21.0,236.0,8.8983,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6189,8,8200,2009,2013,PA001,35.0,241.0,14.5228,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5849,8,42,2009,2013,PA001,18.0,241.0,7.4689,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5781,8,41,2009,2013,PA001,24.0,321.0,7.4766,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6325,8,8202,2009,2013,PA001,8.0,327.0,2.4465,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9113,8,52,2009,2013,PA001,41.0,509.0,8.055,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5373,8,31,2009,2013,PA001,43.0,575.0,7.4783,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9385,8,81800,2009,2013,PA001,48.0,588.0,8.1633,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4829,8,10,2009,2013,PA001,51.0,625.0,8.16,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5509,8,20,2009,2013,PA001,50.0,672.0,7.4405,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4761,8,1,2009,2013,PA001,55.0,746.0,7.3727,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10813,8,92001,2009,2013,PA001,55.0,746.0,7.3727,0.0,0.0,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
filters[filters['id'] == 92001]

        id                             description
426  92001  defendants charged in the higher court

In [22]:
filters[filters['id'] == 1]

   id     description
0   1  all defendants